.details-container{
    background: #6C5B7B;
    padding: 40px 20px;
    /* border: 1px solid black */
    border: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.project-images{
    padding: 20px 0px;
}
.details-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.details-images img{
    width: 200px;
    height: 200px;    
}
.tecnology{
    margin: 15px 0px;
}
.tecnology-title{
    background: orangered;
    color: white;
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
}
.project-summary li{
    padding-bottom: 10px;
}

.project-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-link a{
    background: crimson;
    padding: 5px 10px;
    color: white;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
.project-link i{
    font-size: 30px;
}

@media (max-width: 690px) {
    .project-images{
        padding: 10px 0px;
    }
    .details-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        
    }
    .details-images img{
        width: 150px;
        height: 200px;    
    }
    
}